.section-title {
    font-size: 1.1rem;
    font-weight: bold;
}

.section-actions {}

.person-item {
    background-color: var(--ion-color-secondary-shade);
}

.person-item.add-btn {
    background-color: var(--ion-color-light-shade);
    color: var(--ion-color-dark);
}